In [113]:
#import the required libraries
import pandas as pd
import numpy as np
import math

#Create the dataframe which has data that needs to be cleaned up
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
                    'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                    'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                    'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                    '12. Air France', '"Swiss Air"']})

#Question 1: Fill in the missing numbers in the column FlightNumber in increasing order (increase by 10) and make the column an integer column (instead of a float)

#Iterage through the column FlightNumber using the length of dataframe as range
for i in range(0, len(df)):
    #If the value of current index is nan, update it using previous index value plus 10
    if math.isnan(df['FlightNumber'][i]):
        df['FlightNumber'][i] = df['FlightNumber'][i-1] + 10
                
#Convert the FlightNumber column from float to int
df['FlightNumber'] = df['FlightNumber'].astype('int64')  

#Display the updated dataframe
print("The dataframe after FlightNumber column clean up is:\n", df)

The dataframe after FlightNumber column clean up is:
             From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

C:\Users\nkanodia\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [114]:
#Question 2: Split each string on the underscore delimiter _ in column From_To to give a new temporary DataFrame with the correct values
#Assign the correct column names to this temporary DataFrame.

#Split each string in column From_To using map function and lambda
nlist = list((df['From_To'].astype('str').map(lambda x: x.split('_'))))

#Create temporary dataframe using the splitted list
tempdf = pd.DataFrame(nlist)

#Print the temporary dataframe before renaming the columns
print("Temporary dataframe before renaming the columns:\n", tempdf)

#Rename the columns to 'From' and 'To'
tempdf.columns = ['From', 'To']

#Print the temporary dataframe after renaming the columns
print("Temporary dataframe after renaming the columns:\n", tempdf)

Temporary dataframe before renaming the columns:
           0          1
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn
Temporary dataframe after renaming the columns:
        From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

In [115]:
#Question 3: Standardise the strings so that only the first letter is uppercase (e.g."londON" should become "London".)

#Capitilize the first letter in 'From' column using map functiona and lambda
tempdf['From'] = tempdf['From'].astype('str').map(lambda x : x.capitalize())

#Capitilize the first letter in 'To' column using map functiona and lambda
tempdf['To'] = tempdf['To'].astype('str').map(lambda x : x.capitalize())

#Print the updated dataframe
print("Temporary dataframe after capitalizing the first letter is:\n",tempdf)

Temporary dataframe after capitalizing the first letter is:
        From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

In [116]:
#Question 4: Delete the From_To column from df and attach the temporary DataFrame
#Drop the column 'From_To' from DataFrame
df.drop(['From_To'], axis = 1, inplace = True)

#Print the dataframe after dropping column 'From_To'
print("The dataframe after dropping column 'From_To' is:\n", df)

#Attach the temporary dataframe to above dataframe
df = df.join(tempdf)

#Print the dataframe after attaching 'From' and 'To' columns from temporary dataframe
print("The dataframe after attaching 'From' and 'To' colummns is:\n", df)

The dataframe after dropping column 'From_To' is:
    FlightNumber  RecentDelays              Airline
0         10045      [23, 47]               KLM(!)
1         10055            []    <Air France> (12)
2         10065  [24, 43, 87]  (British Airways. )
3         10075          [13]       12. Air France
4         10085      [67, 32]          "Swiss Air"
The dataframe after attaching 'From' and 'To' colummns is:
    FlightNumber  RecentDelays              Airline      From         To
0         10045      [23, 47]               KLM(!)    London      Paris
1         10055            []    <Air France> (12)    Madrid      Milan
2         10065  [24, 43, 87]  (British Airways. )    London  Stockholm
3         10075          [13]       12. Air France  Budapest      Paris
4         10085      [67, 32]          "Swiss Air"  Brussels     London

In [117]:
#Question 5: Expand the Series of lists into a DataFrame named delays, rename the columns delay_1, delay_2, etc. and replace the unwanted RecentDelays column in df with delays

#Expand the Series of lists 'RecentDelays' into a dataframe named delays
delays1 = pd.DataFrame(df['RecentDelays'].values.tolist())

#Print the dataframe 'delays'
print("The delays dataframe is:\n", delays1)

#Create a new list of column names after renaming the existing columns of the dataframe 'delays'
delays1.columns = ["delay_" + str(x+1) for x in delays1.columns.tolist()]

#Print the dataframe 'delays' after renaming the columns
print("The delays dataframe after renaming the columns is:\n", delays1)

#Drop the unwanted 'RecentDelays' column from the dataframe
df.drop(['RecentDelays'], axis = 1, inplace = True)

#Add the columns from 'delays' dataframe to the original dataframe
df = df.join(delays1)

#Print the dataframe with new columns
print("The dataframe after adding Delays columns is:\n", df)

The delays dataframe is:
       0     1     2
0  23.0  47.0   NaN
1   NaN   NaN   NaN
2  24.0  43.0  87.0
3  13.0   NaN   NaN
4  67.0  32.0   NaN
The delays dataframe after renaming the columns is:
    delay_1  delay_2  delay_3
0     23.0     47.0      NaN
1      NaN      NaN      NaN
2     24.0     43.0     87.0
3     13.0      NaN      NaN
4     67.0     32.0      NaN
The dataframe after adding Delays columns is:
    FlightNumber              Airline      From         To  delay_1  delay_2  \
0         10045               KLM(!)    London      Paris     23.0     47.0
1         10055    <Air France> (12)    Madrid      Milan      NaN      NaN
2         10065  (British Airways. )    London  Stockholm     24.0     43.0
3         10075       12. Air France  Budapest      Paris     13.0      NaN
4         10085          "Swiss Air"  Brussels     London     67.0     32.0

   delay_3
0      NaN
1      NaN
2     87.0
3      NaN
4      NaN

In [102]:
help(pd.DataFrame.join)

Help on function join in module pandas.core.frame:

join(self, other, on=None, how='left', lsuffix='', rsuffix='', sort=False)
    Join columns of another DataFrame.

    Join columns with `other` DataFrame either on index or on a key
    column. Efficiently join multiple DataFrame objects by index at once by
    passing a list.

    Parameters
    ----------
    other : DataFrame, Series, or list of DataFrame
        Index should be similar to one of the columns in this one. If a
        Series is passed, its name attribute must be set, and that will be
        used as the column name in the resulting joined DataFrame.
    on : str, list of str, or array-like, optional
        Column or index level name(s) in the caller to join on the index
        in `other`, otherwise joins index-on-index. If multiple
        values given, the `other` DataFrame must have a MultiIndex. Can
        pass an array as the join key if it is not already contained in
        the calling DataFrame. Like an Excel VLOOKUP operation.
    how : {'left', 'right', 'outer', 'inner'}, default 'left'
        How to handle the operation of the two objects.

        * left: use calling frame's index (or column if on is specified)
        * right: use `other`'s index.
        * outer: form union of calling frame's index (or column if on is
          specified) with `other`'s index, and sort it.
          lexicographically.
        * inner: form intersection of calling frame's index (or column if
          on is specified) with `other`'s index, preserving the order
          of the calling's one.
    lsuffix : str, default ''
        Suffix to use from left frame's overlapping columns.
    rsuffix : str, default ''
        Suffix to use from right frame's overlapping columns.
    sort : bool, default False
        Order result DataFrame lexicographically by the join key. If False,
        the order of the join key depends on the join type (how keyword).

    Returns
    -------
    DataFrame
        A dataframe containing columns from both the caller and `other`.

    See Also
    --------
    DataFrame.merge : For column(s)-on-columns(s) operations.

    Notes
    -----
    Parameters `on`, `lsuffix`, and `rsuffix` are not supported when
    passing a list of `DataFrame` objects.

    Support for specifying index levels as the `on` parameter was added
    in version 0.23.0.

    Examples
    --------
    >>> df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
    ...                    'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})

    >>> df
      key   A
    0  K0  A0
    1  K1  A1
    2  K2  A2
    3  K3  A3
    4  K4  A4
    5  K5  A5

    >>> other = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
    ...                       'B': ['B0', 'B1', 'B2']})

    >>> other
      key   B
    0  K0  B0
    1  K1  B1
    2  K2  B2

    Join DataFrames using their indexes.

    >>> df.join(other, lsuffix='_caller', rsuffix='_other')
      key_caller   A key_other    B
    0         K0  A0        K0   B0
    1         K1  A1        K1   B1
    2         K2  A2        K2   B2
    3         K3  A3       NaN  NaN
    4         K4  A4       NaN  NaN
    5         K5  A5       NaN  NaN

    If we want to join using the key columns, we need to set key to be
    the index in both `df` and `other`. The joined DataFrame will have
    key as its index.

    >>> df.set_index('key').join(other.set_index('key'))
          A    B
    key
    K0   A0   B0
    K1   A1   B1
    K2   A2   B2
    K3   A3  NaN
    K4   A4  NaN
    K5   A5  NaN

    Another option to join using the key columns is to use the `on`
    parameter. DataFrame.join always uses `other`'s index but we can use
    any column in `df`. This method preserves the original DataFrame's
    index in the result.

    >>> df.join(other.set_index('key'), on='key')
      key   A    B
    0  K0  A0   B0
    1  K1  A1   B1
    2  K2  A2   B2
    3  K3  A3  NaN
    4  K4  A4  NaN
    5  K5  A5  NaN